$black-color1: #000;

$blue-color1: rgb(29, 161, 242);
$blue-color2: #eff9fe;
$blue-color3: #e1e8ec;
$blue-color4: #f5f8fa;
$blue-color5: #20a1f1;

$grey-color1: #37454d;
$grey-color2: #38444d;
$grey-color3: #657786;

$white-color1: #fff;

$transition: 0.6s;
